<h3 class=>Listing Contacts</h3>

<p><%= link_to 'New Contact', new_contact_path %></p>

<div style="overflow-y:auto;">
    <table align="center">
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Actions</th>
        </tr>
        
        <% @contacts.each do |contact| %>
        
            <tr>
                <td><%= link_to contact.name, edit_contact_path(contact) %></td>
                <td><%= contact.number %></td>
                <td><%= link_to 'Delete', 
                                            contact_path(contact),
                                            method: :delete, 
                                            data: {confirm: 'Are you sure?'} %></td>
            </tr>
        
        <% end %>
    </table>
</div>
