<h3>Listing Contacts</h3>
<%= link_to 'New Contact', new_contact_path %>
<table>
    <tr>
        <th>Name</th>
        <th>Number</th>
    </tr>
    
    <% @contacts.each do |contact| %>
    
        <tr>
            <td><%= contact.name %></td>
            <td><%= contact.number %></td>
            <td><%= link_to 'Details', contact_path(contact) %></td>
        </tr>
    
    <% end %>
</table>