// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
    font-size: 100px;
    font-weight: bold;
    color: MediumSeaGreen;
    text-align: center;
    font-family: 'Lobster', cursive;

}


p {
    text-align: center;
}

#index_signin {
    text-align: center;
    color: blue;
    font-family: 'Gugi', cursive;
}

#intro {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}
